#index_container {
z-index:0;
background-color: black;
background-image: url("port.jpg");
background-repeat: no-repeat;
}
#index_fixed_head {
z-index:1;
position: absolute;
background-color: yellow;
top: 0px;
left: 0px;
width: 100%;
height: 48px;
}

#de_or_usa {
position:relative;
top:150px;
left:50%;
width:200px;
height:30px;
color:yellow;
font-color:yellow;
font-weight:bold;
}

#scrollerText {
z-index:4;
color: yellow;
font-color: yellow;
}

#index_fixed_head_inner_logo {
margin-top: 16px;
margin-left: 10px;
text-align: left;
font-weight: bold;
}

#index_fixed_head_inner_home {
margin-top: -18px;
margin-left: 150px;
font-weight: normal;
}

#index_fixed_head_inner_login {
margin-top: -18px;
margin-right: 160px;
text-align: right;
}

#flaggen {
margin-top: -18px;
margin-right: 60px;
text-align: right;
}

#toggleBoxText {
font-weight: bold;
text-align: center;
}
.toggleBox {
position:absolute;
background-color: white;
top: 315px;
left: 35%;
width: 25%;
height: 140px;
border: 1px solid #ddd;
opacity: 0.80;
}
/* Ausblenden des input-Feldes */
.toggleBox input {
position: absolute;
left: -99999px;
}
.toggleBox label {
display: block;
background: #68B022;
color: #fff;
padding: .4em;
text-align: center;
cursor: pointer;
}
.toggleBox label:hover {
background: #ddd;
}
/* Der Aufklappmechanismus */
.toggleBox input:not(:checked) ~ div {
height: 140px;
opacity: 0;
height: 0;
}
.toggleBox input:checked ~ div {
height: 160px;
opacity: 1;
padding: .8em;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-ms-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
}

/* Steuerung der Sichtbarkeit der labels */
.toggleBox input:not(:checked) ~ .close,
.toggleBox input:checked ~ .open {
height: 100px;
display: none;
}

#container {
z-index: 0;
background-color: rgb(230,230,230);
margin: auto;
width: 74%;
height: 80%;
padding: 20px;
text-align: center;
}

#leftdiv {
z-index: 10;
background-color: rgb(140,160,140);
width: 210px;
height: 80%;
}

.circleimg {
margin: auto;
width: 90px;
height: 90px;
border-radius: 75px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
overflow: hidden;
}

.mypicture {
background: url("me.jpg") no-repeat;
}

#contact {
margin: auto;
width: 90%;
background-color: rgb(200,200,200);
}

#address {
margin: auto;
width: 80%;
text-align: left;
}

#middlediv {
position: absolute;
z-index:5;
width: 700px;
height: 64%;
top: 196px;
left: 396px;
background-color: rgb(255,220,220);
}
